html,
body {
  margin: 0;
  padding: 0;
  font-family: "Bebas Neue", sans-serif;
  background: linear-gradient(to bottom, #101010 60%, #726CF8);
}

a {
  color: aliceblue;
  text-decoration: #726CF8;
}

a:hover {
  color: #726CF8;
}

header {
  background-color: rgb(38, 76, 89);
  
  
}

header h1 {
  color: white;
  padding: 1em;
  margin: 0;
}

.little_title{
  color: aliceblue;
  padding-left: 13%;
  font-size: 6em;
  line-height: normal;
  
  
}
.grid {
  display: grid;
  grid-template-columns: 1fr  ;
  gap: 2em;
  padding: 2em;
  padding-top: 8em;
}

@media (min-width: 600px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 992px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.grid-item {
  padding: 3em;
  background-color: none;
  transition: 0.5s;
  animation: fadeIn 0.5s;
  border-radius: 10px;
  line-height: 3em;
}

.grid-item:hover {
  transform: scale(1.03);
}

.grid-item img {
  width: 100%;
  height: 200px;
  object-fit: fit;
  border-radius: 40px;
}
.grid-all{
  line-height: 1em;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.description{
  font-size: 3em;
  color: aliceblue;
  font-family: montserrat;

}

.big_title{
  font-size: 4em;
  color: aliceblue;
}

.link{
  font-size: 2em;
  text-decoration:none;
  color: aliceblue;
  line-height: normal;
}

.client{
  font-size: 2em;
  color: aliceblue;
}

.tool{
  font-size: 2em;
  color: aliceblue;
}

.title{
  font-size: 10em;
  padding-top: 1em;
  padding-left: 13%;
  color: #726CF8;
  
}

.myheadline{
  line-height: 1.5em;
}

.title_link{
  line-height: 1em;
}

.little_funny{
  color: aliceblue;
  padding-left: 13%;
  font-size: 3em;
  padding-top: 0;
  font-family: Montserrat;
  padding-right: 13%;
}

.trusted{
  color: #726CF8;
  font-family: bebas neue;
}

.trusted:hover::after {
  content:  "- IT'S ME";
}

